@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zeyada&display=swap");

:root {
    --corPreto: #303030;
    --corPretodk: #1d1d1d;
    --corOuro: #faa63e;
    --corLaranja: rgb(239, 144, 96);
    --bordaBtt: #75582b solid 1px;
    --lightShd: 1px 1px 2px rgb(235, 208, 161), 0 0 1em rgb(241, 240, 234), 0 0 0.2em rgb(246, 201, 95);
    --darkShd: 1px 1px 2px rgb(49, 39, 23), 0 0 1em rgb(249, 199, 112), 0 0 0.2em rgb(68, 49, 5);
    --comft: "Comfortaa", sans-serif;
    --lobs: "Lobster Two", sans-serif;
    --zeya: "Zeyada";
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--comft);
}

body {
    color: white;
    background-color: #303030;
}

h1 {
    font-family: var(--lobs);
}
/* Header and Selector */
header {
    position: relative;
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2% 5%;
    border-bottom: var(--bordaBtt);
    text-shadow: 3px 1px 0 var(--corPretodk);
}
    header::before {
        background-image: url(img/wide-houses.jpg);
        content: "";
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.45;
        z-index: -1;
    }

    #desc {
        font-weight: 400;
        max-width: 400px;
    }

    #languages {
        position: absolute;
        top: 15px;
        right: 15px;
        appearance: none;
        background-color: var(--corPreto);
        color: white;
        /* width: 135px; */
        padding: 5px 50px 5px 20px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 700;
        /* custom arrow 'Minimal by Veiko, source: codepen.io' */
        background-image:
            linear-gradient(45deg, transparent 50%, white 50%),
            linear-gradient(135deg, white 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
        background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;
        background-position-y: 55%;
    }

    #languages:focus {
        background-image:
          linear-gradient(45deg, transparent 50%, var(--corOuro) 50%),
          linear-gradient(135deg, var(--corOuro) 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc);
        border-color: var(--corOuro);
        outline: 0;
      }

    .shdw {
        color: white;
        text-shadow: var(--lightShd);
    }
/* Main Nav Menu */
nav {
    border-bottom: var(--bordaBtt);
    background-color: var(--corPretodk);
}

nav ul { 
    display: flex;
    justify-content: space-around;
    list-style: none;
}
    nav ul li {
        padding: 15px;
    }

    nav ul li a {
        color: var(--corOuro);
        text-decoration: none;
    }

    nav ul li a:hover {
        color: white;
        text-shadow: var(--darkShd);
    }

/* Main Body - Section 0 */
#main {
    margin: 0 auto;
    padding: 5%;
    color: white;
    font-weight: 200;
    text-align: center;
}
    #main h2 {
        color: var(--corLaranja);
        text-shadow: var(--darkShd);
        padding: 5px;
        border-bottom: var(--bordaBtt);
    }

    .mainWarn {
        text-align: center;
        padding: 50px;
        border: var(--bordaBtt);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

/* Section #1 Interface */
.containerA {
    display: none;
}

#interface {
    display: grid;
    grid-template-columns: 20% auto 20%;
    padding: 15px 5% 15px 5%;
    font-size: 14px;
    color: white;
    align-items: center;
}

    #interface .secRight p, #interface .secLeft p {
        font-family: var(--lobs);
        font-weight: 400;
        font-size: 20px;
        padding: 5%;
        border: 2px var(--corLaranja) outset;
        background-color: rgba(0, 0, 0, 0.236);
        margin-top: 12%;
    }
    #interface .secRight p:hover, #interface .secLeft p:hover {
        box-shadow: var(--darkShd);
        color: var(--corOuro);
    }
    #interface .secRight p:focus {
        color: red;
    }

    /* #1 Interface > Left Side  */
        .secLeft { 
            text-align: right;
            padding-right: 10%;
        }
            #interface .secLeft p {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 45px;
                border-top-right-radius: 45px;
                }
    /* #1 Interface > Right Side */
        .secRight {
            text-align: left;
            padding-left: 10%;
        }
            #interface .secRight p {
                border-top-right-radius: 15px;
                border-bottom-right-radius: 45px;
                border-top-left-radius: 45px;
            }

    /* IMG : Lobby Guide */
    #interface img {
        /* content: url("img/mainScreen.jpg"); */
        border-top: 1px var(--corLaranja) outset;
        border-bottom: 1px var(--corLaranja) outset;
        border-left: 5px var(--corLaranja) outset;
        border-right: 5px var(--corLaranja) outset;
        max-width: 98%;
        height: auto;
        /* margin-top: 15px; */
    }